# fly.toml app configuration file generated for elara on 2026-02-18T19:59:58+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'elara'
primary_region = 'fra'

[build]

[env]
  DATABASE_URL = "sqlite:////data/elara.db"
  FLASK_ENV = "production"

[mounts]
  source = 'elara'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
